body {
  margin:0;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
background: linear-gradient(purple,darkcyan)no-repeat;
background-color:black;
height:100%;
color:white;
}

h1{
  text-align: center;
  font-size: xx-large;
  background:linear-gradient(purple,gray);
  font-size: 45px;;
}

h1:hover{
  background: linear-gradient(red, black);


}

.cuadrosDeTexto{
  border-radius: 20%;
  padding: 40px ;
  margin: 20px 40px;
  font-size: 25px;
}

#mensaje{
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 50px;

}
.Botones{
  margin:10px;
  position: relative;
  position: center;
}

#encriptar{
  width: 20%;
  position: relative;
  background: midnightblue;
  border-radius: 10px;
  color: white;
  font-size: larger;
}

#desencriptar{
    width: 20%;
  position: relative;
  background: midnightblue;
  border-radius: 10px;
  color: white;
  font-size: larger;
}

#Desencriptar{
  ;

}