body {
  margin:0;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
background: linear-gradient(purple,darkcyan)no-repeat;
background-color:black;
height:100%;
color:white;
}

@keyframes reflejo {
  0% {
    text-shadow: none; 
  }
  50% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); 
  }
  100% {
    text-shadow: none;
  }
}

.reflejo {
  animation: reflejo 2s infinite; /* Duración de la animación y repetición infinita */
}


h1{
  text-align: center;
  font-size: xx-large;
  background: linear-gradient(cyan, black);
  font-size: 45px;
  border-style:groove;
  border-radius: 15px;
  border-color: color-mix(in srgb, orange 50%, magenta  50%);
}

h2::first-letter{
  font-size: 30px;
}

#CuadroMensajeEncriptado{
  white-space: nowrap;
  display: inline-block;
}

.cuadrosDeTexto{
  border-radius: 10%;
  padding: 40px ;
  margin: 20px 40px;
  margin-left: 90px;
  font-size: 25px;
  background: bisque;
}

#mensaje{
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 50px;
  background: bisque;

}
.Botones{
  margin:10px;
  display: block;
}

#encriptar{
  width: 20%;
  position: relative;
  background: midnightblue;
  border-radius: 10px;
  color: white;
  font-size: larger;
}

#desencriptar{
    width: 20%;
  position: relative;
  background: midnightblue;
  border-radius: 10px;
  color: white;
  font-size: larger;
}

#copiarMensajeE, #copiarMensajeD{
  display: block;
  margin-left: 40%;
  width: 20%;
    background: midnightblue;
  border-radius: 10px;
  color: white;
  font-size: larger;
}

#limpiarRegistro{
    display: block;
  margin-left: 75%;
  width: 20%;
    background:royalblue;
  border-radius: 10px;
  color: white;
  font-size: larger;
  font-style: italic;
}